//sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg; // 菜单整体背景
  menuHover: $menuHover; // 菜单悬浮变色
  subMenuBg: $subMenuBg; // 子菜单背景
  subMenuHover: $subMenuHover; // 子菜单悬浮背景
  sideBarWidth: $sideBarWidth;
}
